body{
    margin: 0;
    padding: 50px 100px;

    height: 100vh;
    min-width: 800px;

    background-color: #2F2E41;
}

header, ul, main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul{
    list-style: none;

    gap: 64px;

    font-family: 'JetBrains Mono', monospace;
    color: white;

    font-size: 14px;
    line-height: 24px;
}

ul li:hover{
    cursor: pointer;

    color: #00BFA6;
}

main{
    padding: 80px 0;
    text-align: center;
}

h1{
    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;
    color: white;

    line-height: 40px;
    font-size: 36px;

    margin-bottom: 60px;
}

h1 span{
    color: #00BFA6;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #C2C2C2;

    line-height: 28px;
    font-size: 16px;
}

p span{
    font-weight: 700;
}

p span+span{
    color: #00BFA6;
}

#line{
    width: 568px;
    height: 0;

    border: 1px #00BFA6 solid;

    margin: 0 auto 27px;

    align-items: center;
}

footer{
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
    color: white;

    font-size: 14px;
    line-height: 28px;

    text-align: center;
}

footer a{
    text-decoration: none;
    color: white;
}

#lock{
    position: fixed;

    bottom: 20px;
    left: 20px;
}








